{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}


<!-- <div class="row grid-margin"> -->
    <div class="col-12 top-sub-menu">
          <div class="page-message col-lg-11"></div>
          <button id="addnewbtn" value="{% url 'new_venue' %}" onclick="loadModal('{% url 'new_venue' %}')" type="button" data-toggle="modal" data-target="#modalLoader" class="btn btn-primary top-inner-btn"><i class="mdi mdi-plus btn-label btn-label-center"></i></button>
    </div>

    <div class="card">
            <div class="card-body">
                <div class="row">
                   <div class="col-12">
                     <table id="order-listing" class="table" cellspacing="0" width="100%">
                       <thead>
                         <tr>
                             <th>#</th>
                             <th>ID</th>
                             <th>Name</th>
                             <th>Type</th>
                             <th>Capacity</th>
                             <th></th>
                         </tr>
                       </thead>
                       <tbody>
                         {% for ven in venue_list %}
                         <tr>
                             <td class="id">{{ven.row}}</td>
                             <td class="code">{{ven.code}}</td>
                             <td class="name">{{ven.name}}</td>
                             <td class="facname">{{ ven.type }}</td>
                             <td class="venofficer">{{ven.capacity}}</td>
                             <td>
                               <div class="btn-group ">
                               <button style="padding: 0.3rem 0.7rem;" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                               <div class="dropdown-menu" style="padding: 0 !important;">
                               <button onclick="loadModal('{% url 'edit_venue' %}?id={{ven.id}}')" data-toggle="modal" data-target="#modalLoader" class="btn btn-outline-primary mdi mdi-pencil w-100 drop-menu-tb">Edit</button>
                               <button name="Venue" class="deleteDpt btn btn-outline-danger mdi mdi-delete w-100 drop-menu-tb" value="{% url 'edit_venue' %}?delete={{ven.id}}">Delete</button>
                               </div>
                               </div>
                             </td>
                         </tr>
                         {% endfor %}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>

              <!-- </div> -->

{% endblock %}
